.bigBox {
  background-color: #193498 !important;
  height: 5rem !important;
  color: aliceblue !important;
  vertical-align: middle !important;
}

.label {
  color: aliceblue !important;
  vertical-align: middle !important;
}
.icon {
  color: aliceblue;
  height: 2rem;
  width: 2rem;
}

.login {
  height: 2rem;
  width: 2rem;
}

.image {
  position: relative;
  right: 20rem;
}
